<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lady"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lady"
        android:supportsRtl="true"
        android:theme="@style/Theme.SihAsha">
        <activity android:name=".SignupActivity" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!-- <activity android:name=".SignupActivity" /> -->

        <activity
            android:name=".add_inventory"
            android:exported="false" />
        <activity
            android:name=".activities.AddPatientActivity"
            android:exported="false" />
        <activity
            android:name=".fragment_patient_list"
            android:exported="false" />
        <activity
            android:name=".item_patient_card"
            android:exported="false" />
        <activity
            android:name=".activity_dashboard"
            android:exported="false"
            android:theme="@style/Theme.SihAsha" />
        <activity
            android:name=".activities.AddInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SihAsha">
        </activity>
    </application>

</manifest>